/* base00 - Default Background */
/* base01 - Lighter Background (Used for status bars, line number and folding marks) */
/* base02 - Selection Background */
/* base03 - Comments, Invisibles, Line Highlighting */
/* base04 - Dark Foreground (Used for status bars) */
/* base05 - Default Foreground, Caret, Delimiters, Operators */
/* base06 - Light Foreground (Not often used) */
/* base07 - Light Background (Not often used) */
/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
/* base0A - Classes, Markup Bold, Search Text Background */
/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
/* base0D - Functions, Methods, Attribute IDs, Headings */
/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */

/* scheme: "Tokyo Night Dark" */
@define-color base00 #1A1B26;
@define-color base01 #16161E;
@define-color base02 #2F3549;
@define-color base03 #444B6A;
@define-color base04 #787C99;
@define-color base05 #A9B1D6;
@define-color base06 #CBCCD1;
@define-color base07 #D5D6DB;
@define-color base08 #C0CAF5;
@define-color base09 #A9B1D6;
@define-color base0A #0DB9D7;
@define-color base0B #9ECE6A;
@define-color base0C #B4F9F8;
@define-color base0D #2AC3DE;
@define-color base0E #BB9AF7;
@define-color base0F #F7768E;

* {
	all: unset;

	font-size: 15px;
	font-family:
		JetBrainsMono Nerd Font,
		Font Awesome,
		sans-serif;
	font-weight: 700;
}

window#waybar {
	background: @base00;

	border-radius: 0px;
}

#workspaces {
	margin: 5px 2px;
	padding: 0px 5px;
	border: none;
}

window.left #workspaces {
	padding: 5px 0px;
}

#workspaces button {
	color: @base01;
	background: @base04;

	margin: 4px 3px;
	padding: 0px 5px;
	border-radius: 5px;
	border: none;

	opacity: 0.45;
	min-width: 25px;

	transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

window.left #workspaces button {
	min-height: 30px;
	min-width: unset;
}

#workspaces button.urgent {
	background: @base0F;
}

#workspaces button:not(.empty) {
	background: @base0D;
}

#workspaces button.active {
	opacity: 1;
	min-width: 50px;
}

window.left #workspaces button.active {
	min-height: 45px;
}

#workspaces button:hover {
	opacity: 1;
}

#cpu, #disk, #memory, #pulseaudio, #pulseaudio.microphone, #battery, #network, #tray, #language, #bluetooth {
	color: @base0D;
}

#clock, #window {
	color: @base0F;
}

#window, #clock, #performance, #sound, #battery, #network, #tray, #language, #bluetooth, #custom-notification, #custom-distro {
	background: @base01;

	margin: 5px 2px;
	padding: 2px 10px;
	border-radius: 5px;
}

#tray menu {
	color: @base09;
	background: @base01;

	border: 1px solid @base03;

	padding: 10px;
	border-radius: 5px;
}

#tray menu menuitem {
	padding: 0px 5px 0px 5px;
}
#tray menu menuitem:hover {
	color: @base01;
	background: @base09;
}

#custom-distro {
	color: @base0E;
	background: unset;

	padding-right: 16px;
}

#custom-notification {
	color: @base0E;

	padding-right: 15px;
}

#sound #pulseaudio.microphone, #performance #cpu, #performance #memory {
	margin-left: 15px;
}

tooltip {
	background: @base01;

	border: 1px solid @base03;
	border-radius: 5px;
}

tooltip label {
	color: @base09;
	padding: 5px;
}
